
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
}

section {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], select {
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}


aside {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

h4 {
    font-size: 25px;
    text-align: center;
}


input[readonly] {
    background-color: #fff;
    border: none;
}

#calcular {
    background-color: blue;
}

#limpiar {
    background-color: red;
}

#enviar {
    background-color: green;
}