*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

#contenedor {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}

header {
    background-color: #df1310;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
    background-color: #f0f0f0;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

aside {
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 15px;
}

#resultado {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #ff9500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
